{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div id="about-img" class="col-4 text-center" >
            <img class="rounded" src="{% static 'images/about-image.png' %}" width="75%">
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ about.title }}</h2>
            <!-- Content goes directly underneath this -->
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on: {{ about.updated_on }} </em></p>
        </div>
        </div>
</div>
<div class="text-center ml-4 mb-4">
    <img src="{% static 'images/about/about-1.png' %}" class="rounded" alt="...">
    <img src="{% static 'images/about/about-2.png' %}" class="rounded" alt="...">
    <img src="{% static 'images/about/about-3.png' %}" class="rounded" alt="...">
    <img src="{% static 'images/about/about-4.png' %}" class="rounded" alt="...">
</div>
{% endblock content %}