{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div id="about-img" class="col-4 text-center" >
            <img class="rounded profile-image" src="{% static 'images/about-image.jpeg' %}" alt="Image of josie holding cup">
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ about.title }}</h2>
            <!-- Content goes directly underneath this -->
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on: {{ about.updated_on }} </em></p>
        </div>
        </div>
        <h2>Work with me</h2>
        <form method="post">
            {{ collaborate_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-secondary"
                type="submit">Submit</button>
        </form>
</div>
<div class="text-center ml-4 mb-4">
    <img src="{% static 'images/about/about-1.png' %}" class="rounded" alt="...">
    <img src="{% static 'images/about/about-2.png' %}" class="rounded" alt="...">
    <img src="{% static 'images/about/about-3.png' %}" class="rounded" alt="...">
    <img src="{% static 'images/about/about-4.png' %}" class="rounded" alt="...">
</div>
{% endblock content %}